Repository lsst-it/puppet-ccs_database, pull requests merged in 2024-09, with the labels that each got.

#32 Install statusPersister properties file
  REFERENCE.md
  manifests/etc.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  spec/support/acceptance/setup.rb
  templates/statusPersister.properties.epp
Labels: enhancement

#33 Bump version to 3.4.0
  metadata.json
Labels: skip-changelog

#34 modulesync 9.3.0
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr_labels.yaml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  Gemfile
Labels: modulesync

#35 Add database setting max_connections
  REFERENCE.md
  manifests/init.pp
Labels: enhancement

#36 Version 3.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
